<div class="footer-content">
	<div class="footer-divider"></div>
	<div>
		<a {% if page.url == '/' %} href="#" {% else %} href="/" {% endif %} class="footer-logo">
			<img src="/assets/bngo-glasses.svg"/>
			<h2>B. Ngo</h2>
		</a>
	</div>

    <div class="credit">
		<p>
			&copy; <span id="copyright-year"></span> Brendon Ngo. All Rights Reserved.
		</p>
		<p class="cidnets-credit">
			Coded &amp Designed by <a href="https://sydgarcia.pages.dev/links/">Syd Garcia @Cidnets</a>
		</p>
    </div>
</div>
