<div class="navbar-container">

<div class="navbar" id="navbar">
	<a {% if page.url == '/' %} href="#" {% else %} href="/" {% endif %} class="logo">
		<img src="/assets/bngo-logo.gif"/>
		<img src="/assets/typing-small.gif"/>
	</a>
  
</div>
</div>
  
 <button onclick="backToTop()" id="back-to-top-bttn" title="Go to top"><i class="fa-solid fa-caret-up"></i><p>Top</p></button>
