<!DOCTYPE html>
<html lang="en">
  <head>
	{% include "basehead.njk" %}
  </head>
  
<body>
  <main id="desktop">
	{% include "sitebg.njk" %}
	{% for app in desktop_apps %}
    <a href="#" class="app-launcher desktop-icon" data-title="{{ app.title }}" data-url="{{ app.url }}" data-id="{{ app.id }}">
		<div class="icon-visual">{{ app.icon }}</div>
		<span>{{ app.title }}</span>
    </a>
	{% endfor %}
	
    {{ content | safe }}    
  </main>
    {% include "navbar.njk" %}
  <footer id='footer' class="footer">  
  </footer>
   
  </body>
</html>