:root {
	--blue: #98DDFF;
	--dark-blue: #05273d;
	--lavender: #d5caff;
	--teal: #348087;
	--white: #f3faff;
	--white-rgb: 243, 250, 255;
	--black: #1d1826;
	--off-white: #e6faff;
	
	--site-bg: var(--white);
	--text: var(--dark-blue);
	--primary: var(--blue);
	--primary-2: var(--lavender);
	--background: var(--white);
	--fill: var(--off-white);
	
	--border: 2px solid var(--text);
}