@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&family=Walter+Turncoat&family=Zilla+Slab+Highlight:wght@400;700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
	--font-family: "Sora";
	--header: "Walter Turncoat";
}

h1, h2, h3, h4, h5 {
	font-family: var(--header);
}
h1 {
	font-size: 2rem;
}
h5 {
	font-size: 1.1rem;
}
h1:first-of-type {
	margin-top: 0;
}
.title {
	text-align: center;
	margin: 0 auto;
	font-size: 2.5rem;
}
a {
	color: var(--text);
	text-decoration: none;
}
a:visited {
	color: var(--text);
}
ul, ol {
	list-style-type: none;
	padding: 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.russo-one-regular {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sora-<bngo> {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.space-grotesk-<bngo> {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.walter-turncoat-regular {
  font-family: "Walter Turncoat", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Zilla Slab Highlight */
.zilla-slab-highlight-regular {
  font-family: "Zilla Slab Highlight", serif;
  font-weight: 400;
  font-style: normal;
}

.zilla-slab-highlight-bold {
  font-family: "Zilla Slab Highlight", serif;
  font-weight: 700;
  font-style: normal;
}

/* Zilla Slab */
.zilla-slab-light {
  font-family: "Zilla Slab", serif;
  font-weight: 300;
  font-style: normal;
}

.zilla-slab-regular {
  font-family: "Zilla Slab", serif;
  font-weight: 400;
  font-style: normal;
}

.zilla-slab-medium {
  font-family: "Zilla Slab", serif;
  font-weight: 500;
  font-style: normal;
}

.zilla-slab-semibold {
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-style: normal;
}

.zilla-slab-bold {
  font-family: "Zilla Slab", serif;
  font-weight: 700;
  font-style: normal;
}

.zilla-slab-light-italic {
  font-family: "Zilla Slab", serif;
  font-weight: 300;
  font-style: italic;
}

.zilla-slab-regular-italic {
  font-family: "Zilla Slab", serif;
  font-weight: 400;
  font-style: italic;
}

.zilla-slab-medium-italic {
  font-family: "Zilla Slab", serif;
  font-weight: 500;
  font-style: italic;
}

.zilla-slab-semibold-italic {
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-style: italic;
}

.zilla-slab-bold-italic {
  font-family: "Zilla Slab", serif;
  font-weight: 700;
  font-style: italic;
}
