@import "reset.css";
@import "page.css";
@import "post.css";
@import "colors.css";
@import "fonts.css";
@import "navbar.css";
@import "footer.css";
@import "windows.css";


:root {
	--wrapper-height: 85vh;
	--image-max-width: 320px;
	--content-max-width: 900px;
}

* {
	box-sizing: border-box;
}
*::before, *::after {
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
	text-align: center;
}

[hidden] {
  display: none !important;
}


html, body {
	margin: 0;
	padding: 0;
}
body {
	background-color: var(--site-bg);
	font-family: var(--font-family);
	color: var(--text);
}

#desktop {
	position: relative;
    height: calc(100vh - var(--navbar-height)); /* Full height minus taskbar */
    padding: 1rem;
}

.app-icon {
    /* Styles for your icons in the taskbar */
    margin: 0 5px;
    text-align: center;
    color: black;
    text-decoration: none;
}

.site-bg {
	position: fixed;
	height: calc(100% - var(--navbar-height));
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: -100;
}
.site-bg-img-container {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.site-bg img:last-of-type {
	padding-left: 2rem;
}
.site-credit {
	margin-top: 1rem;
	font-size: 0.9rem;
}
.site-credit * {
	margin-top: 0;
}
.site-credit .credit-logo > * {
	margin-bottom: 1rem;
}
.site-credit .credit-logo img {
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

.wrapper {
	min-height: var(--wrapper-height);
	place-items: center;
	margin: 3rem auto 0;
}
.content {
	display: flex;
	flex-direction: column;
	max-width: var(--content-max-width);
	margin: 0 auto;
	padding: 1rem 1rem;
}

@media screen and (max-width: 576px) {
	.site-credit {
		margin-top: 1rem;
	}
}